@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  // background-color: #000;
  .content {
    color: lch(53 105 40);
  }
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  font-size: 1.5rem;
}
